{% extends "layout.njk" %}

{% block head %}
  <title>Sobre</title>
{% endblock %}

{% block content %}
  <div id="wrapper">
    <img src="https://scontent.fcpq2-1.fna.fbcdn.net/v/t1.0-9/26731144_211705696042579_7038053465160362224_n.png?_nc_cat=101&_nc_oc=AQmym5M0kpEA6D06El90p23E8DC_QgtGxq8k0_GjGC57tckh4o1dPDOm1jojA_hAInA&_nc_ht=scontent.fcpq2-1.fna&oh=9a36da2a51f59590f679e9deae531035&oe=5E8E275F" alt="Logo Rocketseat"/>
    <h1>Rocketseat</h1>
    <h2>
      Uma startup criada para educar, inspirar e conectar programadores e empreendedores
    </h2>
    <ul>
      <li>JavaScript</li>
      <li>NodeJS</li>
      <li>ReactJS</li>
      <li>React Native</li>
    </ul>
  </div>
{% endblock %}