{% extends "layout.njk" %}

{% block head %}
  <title>Sobre</title>
{% endblock %}

{% block content %}
  <div id="wrapper">
    <img src="{{ about.img }}" alt="Logo da empresa {{ about.company_name }}"/>
    <h1>{{ about.company_name }}</h1>
    <h2>
      {{ about.description }}
    </h2>
    <ul>
      {% for tec in about.tecs %}
        <li>{{ tec.name }}</li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}