{% extends "layout.njk" %}

{% block head %}
  <title>Cursos</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
{% endblock %}

{% block content %}
  <div id="wrapper">
    <h1>Cursos Rocketseat</h1>
  </div>

  <section class="cards">
    {% for course in courses %}
      <div class="card" id="{{ course.id }}">
        <div class="card__title">
          <h1>{{ course.name }}</h1>
        </div>
        <div class="card__image-container">
          <img src="/assets/{{course.img}}" alt="Imagem do curso {{ course.name }}"/>
        </div>
        <div class="card__info">
          <p>{{ course.modulesQtt }}</p>
          <p class="card__price">{{ course.price }}</p>
        </div>
      </div>
    {% endfor %}
  </section>

  <div class="modal-overlay">
    <div class="modal">
      <a class="maximize-modal--button">
        <i class="material-icons">crop_square
        </i>
      </a>
      <a class="minimize-modal--button">
        <i class="material-icons">minimize</i>
      </a>
      <a class="close-modal">
        <i class="material-icons">close</i>
      </a>

      <div class="modal-content">
        <iframe frameborder="0"></iframe>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="/scripts.js"></script>
{% endblock %}