{% extends "layout.njk" %}

{% block head %}
  <title>Cursos</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
{% endblock %}

{% block content %}
  <div id="wrapper">
    <h1>Cursos Rocketseat</h1>
  </div>

  <section class="cards">
    <div class="card" id="starter">
      <div class="card__title">
        <h1>Starter</h1>
      </div>
      <div class="card__image-container">
        <img src="/assets/starter.svg" alt="Curso Starter"/>
      </div>
      <div class="card__info">
        <p>Módulos: 4</p>
        <p class="card__price">Gratuito</p>
      </div>
    </div>

    <div class="card" id="launchbase">
      <div class="card__title">
        <h1>LaunchBase</h1>
      </div>
      <div class="card__image-container">
        <img src="/assets/launchbase.svg" alt="Curso LaunchBase"/>
      </div>
      <div class="card__info">
        <p>Módulos: 4</p>
        <p class="card__price">Pago</p>
      </div>
    </div>

    <div class="card" id="gostack">
      <div class="card__title">
        <h1>GoStack</h1>
      </div>
      <div class="card__image-container">
        <img src="/assets/gostack.svg" alt="Curso GoStack"/>
      </div>
      <div class="card__info">
        <p>Módulos: 4</p>
        <p class="card__price">Pago</p>
      </div>
    </div>
  </section>

  <div class="modal-overlay">
    <div class="modal">
      <a class="maximize-modal--button">
        <i class="material-icons">crop_square
        </i>
      </a>
      <a class="minimize-modal--button">
        <i class="material-icons">minimize</i>
      </a>
      <a class="close-modal">
        <i class="material-icons">close</i>
      </a>

      <div class="modal-content">
        <iframe frameborder="0"></iframe>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="/scripts.js"></script>
{% endblock %}