{% extends "layout.html" %}

{% block head %}
  <title>Sobre - Vinícius Avansini</title>
{% endblock %}

{% block content %}

  <div id="wrapper">
    <img src="https://media-exp1.licdn.com/dms/image/C4D03AQFsdwwmKay9kA/profile-displayphoto-shrink_200_200/0?e=1585785600&v=beta&t=qyPwJ1ONwxo1tEE5g4WfuhL_r1pOmZ69K0fBKK5my3I" alt="Vinicius Avansini"/>
    <h1>Vinícius Avansini</h1>
    <h2>Programador Júnior - Writesys</h2>
    <p>
      Programador full-stack. Colaborador da
      <a href="https://writesys.com.br/" target="_blank">Writesys</a>
    </p>
  </div>

  <div id="links-footer" class="links">
    <a href="https://github.com/viavn" target="_blank">GitHub</a>
    <a href="https://www.linkedin.com/in/viniciusavansini" target="_blank">LinkedIn</a>
  </div>

{% endblock %}