{% extends "_layout.njk" %}

{% block head %}
    <title>Foodfy | Oops!</title>
{% endblock head %}

{% block content %}
    <div class="wrapper">
        <h1>Poxa... Parece que não encontramos o que você queria!</h1>
    </div>
{% endblock content %}